Trabalhando com pandas

In [11]:
import numpy as np
import os
import pandas as pd
# pd.set_option('display.max_row', 1000)
# pd.set_option('display.max_column', 1)

Carregando arquivos csv

In [12]:
dir_file = os.path.join("./data/", "db.csv")
dataset = pd.read_csv(dir_file, sep = ';')
dataset

,Nome,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
3,DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
4,Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10
...,...,...,...,...,...,...,...
253,Phantom 2013,Motor V8,2014,27505.0,False,"['Controle de estabilidade', 'Piloto automátic...",51759.58
254,Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Bancos de couro', 'Painel digital', 'Sensor ...",51667.06
255,Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Rodas de liga', 'Controle de tração', 'Câmbi...",68934.03
256,Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Ar condicionado', '4 X 4', 'Câmbio automátic...",122110.90
257,Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimídia', 'Teto panorâmico', 'Vid...",90381.47

Estatísticas básicas

In [13]:
dataset.describe()

               Ano  Quilometragem          Valor
count   258.000000     197.000000     258.000000
mean   2007.511628   58278.421320   98960.513101
std       9.725906   35836.733259   29811.932305
min    1990.000000     107.000000   50742.100000
25%    1999.000000   27505.000000   70743.512500
50%    2008.000000   55083.000000   97724.380000
75%    2018.000000   90495.000000  124633.302500
max    2019.000000  119945.000000  149489.920000

Tuplas

In [14]:
nomes_carros = tuple(['Passat', 'Crossfox', 'DS5'])
nomes_carros

('Passat', 'Crossfox', 'DS5')

In [15]:
#segunda forma
('Passat', 'Crossfox', 'DS5')

('Passat', 'Crossfox', 'DS5')

Seleções em tuplas

In [16]:
nomes_carros[1:2]

('Crossfox',)

Iterando tuplas

In [17]:
for item in nomes_carros:
    print(item)

Passat
Crossfox
DS5

In [18]:
c1, c2, c3 = nomes_carros
print(c1, c2, c3)

Passat Crossfox DS5

In [19]:
#ignorando o primeiro e todos depois do primeiro
_, A, B = nomes_carros
C, *_ = nomes_carros
print(A, B, C)

Crossfox DS5 Passat

Desempacotamento com zip

In [20]:
valores = tuple(['88075.64', ' 70000.31', '23000.21'])

for carro, valor in zip(nomes_carros, valores):
    print(carro, valor)

Passat 88075.64
Crossfox  70000.31
DS5 23000.21

Criando dicionários com zip()

In [23]:
dados = dict(zip(nomes_carros, valores))
dados

{'Passat': '88075.64', 'Crossfox': ' 70000.31', 'DS5': '23000.21'}

Operações com dict

Adicionando valores

In [25]:
dados['Gol'] = 30000.2
dados

{'Passat': '88075.64',
 'Crossfox': ' 70000.31',
 'DS5': '23000.21',
 'Gol': 30000.2}

Update no dict

In [26]:
dados.update({'Fiat Uno': 2600.45})
dados

{'Passat': '88075.64',
 'Crossfox': ' 70000.31',
 'DS5': '23000.21',
 'Gol': 30000.2,
 'Fiat Uno': 2600.45}

Copia do dict

In [27]:
dados_copy = dados.copy()
dados_copy

{'Passat': '88075.64',
 'Crossfox': ' 70000.31',
 'DS5': '23000.21',
 'Gol': 30000.2,
 'Fiat Uno': 2600.45}

eliminando valores do dict - pop

In [28]:
dados_copy.pop('Fiat Uno')
dados_copy

{'Passat': '88075.64',
 'Crossfox': ' 70000.31',
 'DS5': '23000.21',
 'Gol': 30000.2}

Remove tudo do dict

In [29]:
dados_copy.clear()
dados_copy

{}

Iteração em dicts

In [30]:
dados.keys()

dict_keys(['Passat', 'Crossfox', 'DS5', 'Gol', 'Fiat Uno'])

In [31]:
for key in dados.keys():
    print(dados[key])

88075.64
 70000.31
23000.21
30000.2
2600.45

lista contendo uma tupla para cada key-value

In [32]:
dados.items()

dict_items([('Passat', '88075.64'), ('Crossfox', ' 70000.31'), ('DS5', '23000.21'), ('Gol', 30000.2), ('Fiat Uno', 2600.45)])

In [33]:
for key, value in dados.items():
    print(key, value)

Passat 88075.64
Crossfox  70000.31
DS5 23000.21
Gol 30000.2
Fiat Uno 2600.45