In [14]:
import pandas as pd

Filtrando por um valor

In [15]:
dados = pd.read_csv('extras/dados/aluguel.csv', sep=';')
dados

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor m2,Tipo Agregado
0,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,53.33,Apartamento
1,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,16.67,Apartamento
2,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,26.00,Apartamento
3,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0,21.43,Apartamento
4,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0,16.67,Apartamento
...,...,...,...,...,...,...,...,...,...,...,...
19826,Quitinete,Glória,1,0,0,10,400.0,107.0,10.0,40.00,Apartamento
19827,Quitinete,Flamengo,1,0,0,23,900.0,605.0,0.0,39.13,Apartamento
19828,Quitinete,Centro,1,0,0,24,1100.0,323.0,0.0,45.83,Apartamento
19829,Quitinete,Copacabana,1,0,0,22,1500.0,286.0,200.0,68.18,Apartamento
19830,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0,29.63,Apartamento

In [17]:
list(dados['Bairro'].drop_duplicates())
localizacao = ['Centro']
localizacao

['Centro']

In [18]:
selecao = dados['Bairro'].isin(localizacao)
selecao

0         True
1        False
2        False
3        False
4        False
         ...
19826    False
19827    False
19828     True
19829    False
19830     True
Name: Bairro, Length: 19831, dtype: bool

In [19]:
localizacao_centro = dados[selecao]
localizacao_centro

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor m2,Tipo Agregado
0,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,53.33,Apartamento
27,Apartamento,Centro,1,0,0,27,750.0,371.0,19.0,27.78,Apartamento
48,Apartamento,Centro,1,1,0,37,1100.0,540.0,900.0,29.73,Apartamento
135,Apartamento,Centro,1,0,0,35,1350.0,420.0,24.0,38.57,Apartamento
234,Apartamento,Centro,1,0,0,42,2200.0,619.0,202.0,52.38,Apartamento
...,...,...,...,...,...,...,...,...,...,...,...
19792,Quitinete,Centro,1,0,0,50,1000.0,400.0,50.0,20.00,Apartamento
19804,Quitinete,Centro,1,0,0,32,700.0,300.0,21.0,21.88,Apartamento
19806,Quitinete,Centro,1,0,0,40,1100.0,300.0,0.0,27.50,Apartamento
19828,Quitinete,Centro,1,0,0,24,1100.0,323.0,0.0,45.83,Apartamento
19830,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0,29.63,Apartamento